.tab-pane {
  display: none; /* Initially hide all tab contents */
}

.tab-pane.active {
  display: block; /* Show the active tab content */
}

h3 a {
  color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #4CAF50; /* Use styles from previous section (back to dashboard link) */
}
.tabs {
  display: flex; /* Arrange tabs horizontally */
  list-style: none; /* Remove default list styling */
  padding: 0;
  margin: 10;
  border-bottom: none; /* Add border to separate tabs */
}

.tabs li {
  margin-right: 10px; /* Add spacing between tabs */
}



.tabs li a {
  color: black;
  padding: 12px 20px; /* Adjust padding for tabs */
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  background-color: #4CAF50; /* Match the button color */
  color: white; /* Match the button text color */
  border-radius: 5px;
  font-weight: bold;
}

.tabs .active  {
  /* Styles for the active tab */
  background-color: #3e8e41;
  font-weight: bold;
  border-bottom: 2px solid #fff;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px 20px;
  text-align: left;
  border: 4px solid #ddd;
}

th {
  background-color: #f2f2f2;
  color: black;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
  color: black;
}

.tab-pane a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #4CAF50;
  font-weight: bold;
}


/* Add media queries for responsiveness (optional) */
@media only screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .tabs {
    flex-wrap: wrap; /* Wrap tabs to multiple lines if needed */
  }
}
