<!DOCTYPE html>
<html>
<head>
    <title>Add Crop Management</title>
    <script src="/static/forms.js"></script>
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body>
    <div id="crop-management" class="tab-pane">
        <h2>Crop Management</h2>
        <h3><a href="/dashboard">Back to Dashboard</a></h3>
        <form method="POST">
            <label for="management_type">Management Type:</label>
            <select name="management_type" id="management_type">
                <option value="fertilization">Fertilization</option>
                <option value="irrigation">Irrigation</option>
                <option value="pest_control">Pest Control</option>
                <option value="weeding">Weeding</option>
                <option value="labor">Labor</option>
            </select>
    
            
            <div id="management-details"></div>

             <button type="submit">Add Management</button>

            
        </form>

        
        
    </div>
    
</body>
</html>
