<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Crop Cycle</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/navigation.css">
    
</head>
<body>
    <h1>Add New Cycle for {{ crop.name }}</h1>
    <nav>
        <ul>
          <li><h3><a href="/dashboard">Dashboard</a></h3></li>
          <li><h3><a href="/profile">Profile</a></h3></li>
          <li><h3><a href="/add_crop">Add Crop</a></h3></li>
          <li><h3><a href="/view_crops">View Crops</a></h3></li>
          <li><h3><a href="/logout">Logout</a></h3></li>
          </ul>
      </nav>

    <form action="{{ url_for('add_cycle', crop_id=crop.id) }}" method="POST">
        <label for="cycle_name">Cycle Name:</label>
        <input type="text" id="cycle_name" name="cycle_name" placeholder="Enter cycle name" required>
    
        <label for="planting_date">Planting Date:</label>
        <input type="date" id="planting_date" name="planting_date" required>
    
        <label for="harvest_date">Expected Harvest Date:</label>
        <input type="date" id="harvest_date" name="harvest_date">
    
        <input type="submit" value="Add Cycle">
    </form>
    

    <a href="{{ url_for('view_crop', crop_id=crop.id) }}">Back to Crop Details</a>
</body>
</html>
