<!DOCTYPE html>
<html>
<head>
    <title>Add Financial details</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/yield&prod.css">
</head>
<body>
    <h2>Crop Finance</h2>
    <h3><a href="/dashboard">Back to Dashboard</a></h3>
    <form method="POST">
        <label for="seed-cost">Seed Cost:</label>
        <input type="number" name="seed-cost" id="seed-cost" >
        <br>

        <label for="fertilizer_cost">Fertilizer Cost:</label>
        <input type="number" name="fertilizer_cost" id="fertilizer_cost">
        <br>

        <label for="labor_cost">Labor Cost:</label>
        <input type="number" name="labor_cost" id="labor_cost">
        <br>

        <label for="equipment_cost">Equipment Cost:</label>
        <input type="number" name="equipment_cost" id="equipment_cost">
        <br>

        <label for="pesticide_cost">Pesticide Cost:</label>
        <input type="number" name="pesticide_cost" id="pesticide_cost">
        <br>

        <label for="revenue">Revenue:</label>
        <input type="number" name="revenue" id="revenue">

        <button type="submit">Add Financial Data</button>
    </form>
    
</body>
</html>
