<!DOCTYPE html>
<html>
<head>
    <title>Add Financial details</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/yield&prod.css">
    <link rel="stylesheet" href="/static/navigation.css">
</head>
<body>
    <h2>Crop Finance</h2>
    <nav>
        <ul>
          <li><h3><a href="/dashboard">Dashboard</a></h3></li>
          <li><h3><a href="/profile">Profile</a></h3></li>
          <li><h3><a href="/add_crop">Add Crop</a></h3></li>
          <li><h3><a href="/view_crops">View Crops</a></h3></li>
          <li><h3><a href="/logout">Logout</a></h3></li>
          </ul>
      </nav>
      <form method="POST">
        <div>
            <label for="cost_type">Cost Type:</label>
            <select name="cost_type" id="cost_type" required>
                <option value="Seed">Seed</option>
                <option value="Fertilizer">Fertilizer</option>
                <option value="Labor">Labor</option>
                <option value="Equipment">Equipment</option>
                <option value="Pesticide">Pesticide</option>
                <option value="Revenue">Revenue</option>
            </select>
        </div>
        <div>
            <label for="amount">Amount:</label>
            <input type="number" step="0.01" name="amount" id="amount" required>
        </div>
        <div>
            <label for="details">Details:</label>
            <textarea name="details" id="details"></textarea>
        </div>
        <div>
            <label for="date">Date:</label>
            <input type="date" name="date" id="date" required>
        </div>
        <button type="submit">Submit</button>
    </form>
    
    
</body>
</html>
