<!DOCTYPE html>
<html>
<head>
    <title>Add Crop</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/add_crop.css">
    <link rel="stylesheet" href="/static/navigation.css">
</head>
<body>
    <div class="add-crop-container">
        <nav>
            <ul>
              <li><h3><a href="/dashboard">Dashboard</a></h3></li>
              <li><h3><a href="/profile">Profile</a></h3></li>
              <li><h3><a href="/add_crop">Add Crop</a></h3></li>
              <li><h3><a href="/view_crops">View Crops</a></h3></li>
              <li><h3><a href="/logout">Logout</a></h3></li>
            </ul>
        </nav>
        <h1>Add Crop</h1>
        <form method="POST">
            <label for="name">Crop Name:</label>
            <input type="text" name="name" id="name" required>
            <br><br>

            <label for="crop_variety">Crop Variety:</label>
            <input type="text" name="crop_variety" id="crop_variety">
            <br><br>

            <label for="acreage">Acreage Planted:</label>
            <input type="number" name="acreage" id="acreage" required>
            <br><br>
            <br><br>

            <button type="submit">Save Crop</button>
        </form>
    </div>
</body>
</html>
