<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/dashboard.css">
</head>
<body>
    <div class="dashboard-container">
        <h1>Hello, {{ current_user.username }}!</h1>
        <nav>
            <ul>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/add_crop">Add Crop</a></li>
                <li><a href="/view_crops">View Crops</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <div class="content">
            </div>
        
    </div>
</body>
</html>
