<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/dashboard.css">
    <link rel="stylesheet" href="/static/navigation.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/3.5.2/bokeh.min.js"></script>
</head>
    
</head>
<body>
    <div class="dashboard-container">
        <h1>Hello, {{ current_user.username }}!</h1>
        <nav>
            <ul>
              <li><h3><a href="/dashboard">Dashboard</a></h3></li>
              <li><h3><a href="/profile">Profile</a></h3></li>
              <li><h3><a href="/add_crop">Add Crop</a></h3></li>
              <li><h3><a href="/view_crops">View Crops</a></h3></li>
              <li><h3><a href="/logout">Logout</a></h3></li>
              </ul>
          </nav>
        <div class="content">

            <div id="chart-container">
                

                {{ div | safe }} 
                {{ script | safe }}
                

            </div>

            <div id="chart-container">
                

                {{ ydiv | safe }} 
                {{ yscript | safe }}
                

            </div>

            <div id="chart-container">
                

                {{ fert_div | safe }} 
                {{ fert_script | safe }}
                

            </div>

            <div id="chart-container">
                

                {{ irr_div | safe }} 
                {{ irr_script | safe }}
                

            </div>

            <div id="chart-container"></div>
                

                {{ scatter_div | safe }} 
                {{ scatter_script | safe }}
                

            </div>

            </div>
        
    </div>
    <br>
    <br>
    <br>
    <br>
</body>
</html>
