<!DOCTYPE html>
<html>
<head>
    <title>GrowTrack Home</title>
    <link rel="stylesheet" href="/static/landing.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/navigation.css">

</head>
<body>
    <div class="container">
        <div class="content">
            <img src="/static/logo-new.png" alt="GrowTrack Logo" class="logo">
            <h2>Welcome to GrowTrack!</h2>
            <p>Your journey to agricultural success starts here.</p>
            <a href="/signup">Start Growing Now</a>
            <a href="/login">Login</a>
        </div>
    </div>
</body>
</html>
