<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/profile.css">
    <link rel="stylesheet" href="/static/navigation.css">
    
    
</head>
<body>
    <h1>Profile</h1>
    <nav>
        <ul>
          <li><h3><a href="/dashboard">Dashboard</a></h3></li>
          <li><h3><a href="/profile">Profile</a></h3></li>
          <li><h3><a href="/add_crop">Add Crop</a></h3></li>
          <li><h3><a href="/view_crops">View Crops</a></h3></li>
          <li><h3><a href="/logout">Logout</a></h3></li>
          </ul>
      </nav>
    <br>
    
    <br>
    <p>Username: {{ user.username }}</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <a href="/edit-profile">Edit Profile</a>
</body>
</html>
