<!DOCTYPE html>
<html>
<head>
  <title>Signup</title>
</head>
<body>
  <h1>GrowTrack Registration</h1>

  {% if errors %}
      <ul class="error-messages">
          {% for error in errors %}
              <li>{{ error }}</li>
          {% endfor %}
      </ul>
  {% endif %}

  <form method="POST" action="/signup">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <br>
    <label for="password">Password:</label>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required minlength="8" 
       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}">
    <div class="password-info">
      <ul>
        <li class="info-item">Minimum 8 characters</li>
        <li class="info-item">At least one uppercase letter (A-Z)</li>
        <li class="info-item">At least one lowercase letter (a-z)</li>
        <li class="info-item">At least one number (0-9)</li>
        <li class="info-item">At least one special character (@$!%*?&)</li>
    </ul>
    </div>
    <br>
    <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password" id="confirm_password" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{1,}">
    <br>
    <label for="farm_name">Farm Name:</label>
    <input type="text" name="farm_name" id="farm_name" required>
    <br>
    <label for="region">Region:</label>
    <input type="text" name="region" id="region" required>
    <br>
    <label for="traditional_authority">Traditional Authority:</label>
    <input type="text" name="traditional_authority" id="traditional_authority" required>
    <br>
    <label for="farm_size">Farm Size (Hectares):</label>
    <input type="number" name="farm_size" id="farm_size" required>
    <br>
    <button type="submit">Register</button>
  </form>
</body>
</html>

