<!DOCTYPE html>
<html>
<head>
    <title>View Crops</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/view_crops.css">
    <link rel="stylesheet" href="/static/navigation.css">
</head>
<body>
    <div class="crop-list-container">
        <h1>Your Crops</h1>
        <nav>
          <ul>
            <li><h3><a href="/dashboard">Dashboard</a></h3></li>
            <li><h3><a href="/profile">Profile</a></h3></li>
            <li><h3><a href="/add_crop">Add Crop</a></h3></li>
            <li><h3><a href="/view_crops">View Crops</a></h3></li>
            <li><h3><a href="/logout">Logout</a></h3></li>
            </ul>
        </nav>
        {% if crops %}
        <div class="crop-items">
          {% for crop in crops %}
            <li class="crop-item">
              <a href="/crop/{{ crop.id }}">{{ crop.name }}</a>
              <form action="{{ url_for('delete_crop', crop_id=crop.id) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this crop? This action cannot be undone.');">
                  <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </li>
          {% endfor %}
        </div>
      {% else %}
        <p>No crops added yet. <a href="/add_crop">Add a new crop</a>.</p>
      {% endif %}
      </div>
</body>
</html>
