<!DOCTYPE html>
<html>
<head>
    <title>View Crops</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/view_crops.css">
</head>
<body>
    <div class="crop-list-container">
        <h1>Your Crops</h1>
        <h3><a href="/dashboard">Back to Dashboard</a></h3>
        <div class="crop-items">
          {% for crop in crops %}
            <li class="crop-item">
              <a href="/crop/{{ crop.id }}">{{ crop.name }}</a>
            </li>
          {% endfor %}
        </div>
      </div>
</body>
</html>
